<h1>Search Results</h1>

<h3>Displaying <%= @characters.count %>Results:</h3>

<% @characters.each do |character| %>
  <p><%= character.name %></p>
  <p><img src="<%= character.photo %>", alt="photo"></p>
  <p><%= character.allies %></p>
  <p><%= character.enemies %></p>
  <p><%= character.affiliation %></p>
<% end %>